<mat-grid-list cols="1" rowHeight="45px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
  >UBS Vila Aparecida
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
  >R. São Cristóvão, 365 - Aparecida, Bragança Paulista - SP, 12912-530
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
  >Dra. Marília Funck de Lima
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
  >CRM 228644
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="7"
  >
    <form [formGroup]="form" class="example-form">
      <div class="example-full-width" cellspacing="0" style="display: grid; margin: 8px 0">
        <button mat-stroked-button color="primary" (click)="imprimir()" style="margin-bottom: 8px">Imprimir</button>
        <mat-form-field  class="example-full-width">
          <input matInput formControlName="nome" placeholder="Nome">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <textarea matInput  formControlName="endereco" placeholder="Endereço"></textarea>
        </mat-form-field>
      </div>

      <div style="display: grid; margin: 8px 0">
        <button mat-stroked-button color="primary" (click)="adicionarRemedio()">Adicionar remédio</button>
      </div>
    </form>

  </mat-grid-tile>



    <form [formGroup]="form" class="example-form">
      <ng-container formArrayName="remedios">
        @for (remedio of remedios.controls; track remedio.get('titulo'); let idx = $index) {
          <mat-grid-tile [colspan]="1" [rowspan]="4">
            <div style="display: grid; margin: 8px 0">
              <div [formGroupName]="idx" class="example-container">
                <mat-form-field>
                  <mat-label>Remédio</mat-label>
                  <input matInput formControlName="titulo" placeholder="Remédio">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Quantidade</mat-label>
                  <input matInput formControlName="quantidade" placeholder="10 un.">
                </mat-form-field>

                <button mat-flat-button color="warn" (click)="removerRemedio(idx)">Remover</button>
              </div>

              <div [formGroupName]="idx">
                <mat-form-field class="example-full-width">
                  <textarea matInput formControlName="modoUso" placeholder="Modo de uso" maxlength="55" [cdkTextareaAutosize]="true"></textarea>
                  <mat-hint align="start">Máximo de 55 caracteres</mat-hint>
                  <mat-hint align="end">{{remedio.get('modoUso')?.value.length}} / 55</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </mat-grid-tile>
        }
      </ng-container>
    </form>
</mat-grid-list>

